/* ---------------------------------------- Basics ---------------------------------------- */
:root {
  --black: #050032;
  --white: #eeeeee;
  --blue: #7510f7;
  --blue-transparent: #7510f7cc;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 10px;
  color: var(--black);
}

body {
  margin: 0;
  background-image: url(src/about-me-bgc.jpg);
  background-attachment: fixed;
}

p {
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  line-height: 3.5rem;
}

h2 {
  margin: 0;
  font-size: 4rem;
  text-align: center;
}

h3 {
  font-size: 3rem;
  margin: 0;
}

h4 {
  margin: 0;
  font-size: 2.5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
}

.container {
  margin: 100px auto -200px auto;
  padding-top: 60px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 #ccc;
  background-color: #fff;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 10px 50px;
  border: 2px solid var(--blue);
  border-radius: 25px;
  background-color: var(--black);
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: var(--blue);
}

/* ---------------------------------------- Header ---------------------------------------- */
#home {
  position: relative;
  height: 100vh;
  width: 100%;
}

.bgc {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  animation: 30s linear infinite;
}

.header-1 {
  background-image: url(src/header1.jpg);
  animation-name: change-1;
}

.header-2 {
  background-image: url(src/header2.jpg);
  animation-name: change-2;
}

.header-3 {
  background-image: url(src/header3.jpg);
  animation-name: change-3;
}

.violet-filter {
  z-index: 1;
  background-color: var(--blue-transparent);
  color: var(--white);
  align-items: center;
}

.logo,
h1,
.next-section-info {
  align-items: center;
}

.logo {
  flex-basis: 30%;
  font-size: 9rem;
  animation: logo-rotation 30s linear infinite;
}

h1 {
  flex-basis: 40%;
  width: 60%;
  font-size: 7.5rem;
  text-align: center;
  margin: 0;
}

.next-section-info {
  flex-basis: 30%;
  justify-content: flex-end;
  padding-bottom: 40px;
}

.arrow {
  font-size: 4rem;
  animation: arrow-move 1s linear infinite;
}

/* ---------------------------------------- About me ---------------------------------------- */
#about-me {
  justify-content: center;
}

.about-me-container {
  flex-basis: 80%;
}

.about-me-container>h2 {
  color: var(--blue);
}

.about-me-container>img {
  width: 25%;
  display: block;
  margin: 60px auto;
}

.about-me-container>p {
  width: 80%;
  padding-bottom: 60px;
}

span.stack {
  font-weight: 700;
  color: var(--blue);
}

/* ---------------------------------------- Skills ---------------------------------------- */
#skills {
  align-items: center;
  padding-top: 360px;
  background-color: var(--blue);
}

#skills>h2 {
  color: var(--white);
}

.skills-container {
  width: 80%;
  margin-top: 60px;
}

.skill {
  align-items: center;
  flex-basis: 33.33%;
  padding-bottom: 60px;
  font-size: 20rem;
  color: var(--blue);
}

span.label {
  color: var(--black);
  font-weight: 500;
  padding-top: 20px;
  font-size: 2.5rem;
}

/* ---------------------------------------- Portfolio ---------------------------------------- */
#portfolio {
  padding-top: 360px;
}

.portfolio-container {
  width: 80%;
  margin: 60px auto 0 auto;
}

.project {
  flex-basis: 50%;
  padding: 10px;
}

.picture {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 #ccc;
  overflow: hidden;
}

.picture img {
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--black);
  opacity: 0;
  transition: 0.5s;
}

.title,
.description {
  color: var(--white);
}

.title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.overlay button {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.picture:hover .overlay {
  opacity: 1;
}

/* ---------------------------------------- Footer ---------------------------------------- */
#footer {
  margin-top: 90px;
  padding-top: 60px;
  background-color: var(--blue);
  color: var(--white);
}

.footer-container {
  width: 80%;
  margin: 0 auto;
}

.footer-container a:hover {
  color: var(--black);
}

nav {
  flex-basis: 20%;
}

li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s;
}

.contact-info {
  flex-basis: 30%;
  font-size: 2.5rem;
}

.social {
  padding: 10px 0;
}

.social a {
  font-size: 2.5rem;
  margin-right: 30px;
  transition: 0.1s;
}

.contact-info address {
  font-style: normal;
  font-size: 2rem;
}

form {
  flex-basis: 50%;
  background-color: var(--black);
  border-radius: 20px;
  padding: 30px;
}

form h3 {
  margin-bottom: 30px;
}

.form-container {
  flex-wrap: wrap;
  justify-content: flex-end;
}

.form-container * {
  margin-bottom: 10px;
  outline: none;
}

input[type='text'],
input[type='email'],
textarea {
  flex-basis: 100%;
  padding: 10px;
  border: 2px solid var(--blue);
  border-radius: 20px;
  font-size: 1.5rem;
  color: var(--black);
}

textarea {
  height: 200px;
}

form *::placeholder {
  color: var(--blue);
}

#footer p {
  font-size: 1.5rem;
  padding: 60px 0 10px 0;
}

/* ---------------------------------------- Keyframes ---------------------------------------- */
@keyframes change-1 {
  0% {
    opacity: 1;
  }

  16.67% {
    opacity: 1;
  }

  33.33% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  66.67% {
    opacity: 0;
  }

  83.33% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes change-2 {
  0% {
    opacity: 0;
  }

  16.67% {
    opacity: 0;
  }

  33.33% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  66.67% {
    opacity: 0;
  }

  83.33% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes change-3 {
  0% {
    opacity: 0;
  }

  16.67% {
    opacity: 0;
  }

  33.33% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  66.67% {
    opacity: 1;
  }

  83.33% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes logo-rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes arrow-move {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(20px);
    opacity: 0;
  }
}